* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  color: rgb(232, 4, 4);
  font-weight: 800;
  font-family: "Kanit", sans-serif;
  font-size: x-large;
  background-color: slategray;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}
.link {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.flight-card {
  margin: 1rem 1rem;
  padding: 2rem 1rem;
  height: 20vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
}

.flight-card-date {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

.flight-card-description {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.flight-card-buttons {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}

.flight-form {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  height: 20vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
}
.flight-form-description {
  height: 80%;
}
.flight-form-date {
  padding: 0;
  width: 33%;
}
