* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  overscroll-behavior-y: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  height: 8vh;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: smaller;
  background-color: rgb(235, 0, 35);
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.link {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 1rem;
}
.links a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 5px;
  color: black;
  margin: 5px;
}

/*home*/

.main-container {
  background-color: steelblue;
  padding-bottom: 3rem;
  height: 100vh;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.home-container {
  background-color: steelblue;
  padding-bottom: 3rem;
  height: 100vh;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

/*FlightCard*/
.flight-log-container {
  background-color: steelblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flight-card {
  margin: 2rem 2rem;
  padding: 1rem 2rem;
  height: 25vh;
  min-height: 250px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  overflow-y: scroll;
  box-shadow: 5px 5px 5px black;
}

.flight-card-date {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-weight: bolder;
  font-family: "Inconsolata", monospace;
}

.flight-card-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-family: "Inconsolata", monospace;
}

.flight-stats {
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Inconsolata", monospace;
}

/*flight form*/

.flight-form {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  height: 35vh;
  min-height: 150px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  word-wrap: normal;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
}
.flight-form-description {
  height: 80%;
  background-color: peachpuff;
  border: none;
  padding-top: 1rem;
  font-family: "Inconsolata", monospace;
  font-size: larger;
}
.flight-form-date {
  padding: 0;
  width: 33%;
}
.flight-form-stats {
  font-family: "Inconsolata", monospace;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: small;
}
.flight-form-buttons {
  font-family: "Inconsolata", monospace;
}
.btn-delete-flight-btn {
  margin-right: 0.5rem;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Inconsolata", monospace;
}
.btn-edit-flight-btn {
  margin-right: 0.5rem;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Inconsolata", monospace;
}
/*Home*/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-welcome {
  height: auto;
  width: auto;
  border: 1px black solid;
  border-radius: 6px;
}

/*Flight*/

.flight-log-header {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: white;
}

.flight-form-header {
  font-family: "Anton", sans-serif;
  color: white;
  padding-left: 1rem;
}

.flight-card-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-family: "Inconsolata", monospace;
  font-size: larger;
}
.flight-card-buttons {
  bottom: 1rem;
  font-family: "Inconsolata", monospace;
}

/*SQUADRON*/

.squadron-roster-header {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: white;
}
.squadron-container {
  background-color: steelblue;
  padding: 1rem;
  font-family: "Inconsolata", monospace;
}
.members {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 5px;
  background-color: wheat;
}

/*SQUADRON FORM*/

.member-form-header {
  padding-top: 2rem;
  font-family: "Anton", sans-serif;
  color: white;
  padding-left: 1rem;
}

.squadron-member-card-form {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  min-height: 250px;
  max-width: 80%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
}
.wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}
.squadron-member-card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  min-height: 250px;
  max-width: 80%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
}
.squadron-description {
  padding-bottom: 2rem;
}

.member-form-description {
  height: 80%;
  background-color: peachpuff;
  border: none;
  font-family: "Inconsolata", monospace;
  font-size: x-large;
}
.member-form-name {
  font-family: "Inconsolata", monospace;
  background-color: peachpuff;
  border: none;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: x-large;
}
.member-form-image {
  border: 1px solid gray;
  height: 250px;
  max-height: 350px;
  max-width: 250px;
  height: auto;
  font-family: "Inconsolata", monospace;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.member-description-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-family: "Inconsolata", monospace;
  font-size: large;
  overscroll-behavior-y: auto;
}
.member-form-image-container {
  border: 1px solid gray;
  height: 250px;
  max-width: 300px;
  font-family: "Inconsolata", monospace;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.member-form-rank {
  font-family: "Inconsolata", monospace;
  background-color: peachpuff;
  border: none;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: x-large;
}
.member-form-nationality {
  font-family: "Inconsolata", monospace;
  background-color: peachpuff;
  border: none;
  padding-top: 1rem;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 1rem;
  font-size: x-large;
}
.member-stats {
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.member-form-buttons {
  padding-top: 2rem;
  font-family: "Inconsolata", monospace;
}
.btn-member-btn {
  margin-right: 0.5rem;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Inconsolata", monospace;
}
.input-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 30%;
  min-width: 15rem;
  justify-content: right;
  align-items: right;
}

/*misc*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(235, 0, 35);
  height: 10vh;
  align-items: center;
  padding-left: 1rem;
  font-family: "Anton", sans-serif;
}

.menu-container {
  position: relative;
}
.menu {
  position: absolute;
  border-radius: 8px;
  background: #ffff;
  top: 60px;
  right: 0px;
  width: 150px;
  height: 500px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.6s ease, transform 0.4s ease, visibility 0.4s;
}
.menu.active {
  opacity: 1;
  background-color: rgb(235, 0, 35);

  visibility: visible;
  transform: translateY(0);
  z-index: 100;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: large;
}
.menu li a {
  text-decoration: none;
  color: #333333;
  display: block;
}
.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}
@media screen and (max-width: 500px) {
  .squadron-member-card {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    min-height: 250px;
    max-width: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    background-color: peachpuff;
    position: relative;
    z-index: 10;
    box-shadow: 5px 5px 5px black;
  }
}

@media screen and (max-width: 768px) {
  .links {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 8vh;
    background-color: rgb(235, 0, 35);
    display: flex;
    flex-direction: column;
    align-items: space-around;
    z-index: 100;
    width: 33%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}
