* {
  margin: 0;
  padding: 0;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding-left: 2rem;
  width: 100%;
  min-height: 8vh;
  height: 8vh;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: smaller;
  background-color: rgb(235, 0, 35);
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.links a {
  color: white;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
}

/*home*/

.main-container {
  background-color: steelblue;
  height: 85vh;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.home-container {
  background-color: steelblue;
  height: 85vh;
  padding-bottom: 3rem;
  padding-top: 1rem;
}

/*FlightCard*/
.flight-log-container {
  background-color: steelblue;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.flight-card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  height: 25vh;
  min-height: 200px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  text-overflow: ellipsis;
  overflow-y: scroll;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
}

.flight-card-date {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-weight: bolder;
  font-family: "Inconsolata", monospace;
}

.flight-card-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  font-family: "Inconsolata", monospace;
}
.flight-card-buttons {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  font-family: "Inconsolata", monospace;
}
.flight-stats {
  padding-left: 0.5rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-family: "Inconsolata", monospace;
}

/*flight form*/

.flight-form {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  height: 35vh;
  min-height: 150px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 5px;
  background-color: peachpuff;
  position: relative;
  z-index: 10;
  box-shadow: 5px 5px 5px black;
}
.flight-form-description {
  height: 80%;
  background-color: peachpuff;
  border: none;
  font-family: "Inconsolata", monospace;
}
.flight-form-date {
  padding: 0;
  width: 33%;
}
.flight-form-stats {
  font-family: "Inconsolata", monospace;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: small;
}
.flight-form-buttons {
  font-family: "Inconsolata", monospace;
}
.btn-delete-flight-btn {
  margin-right: 0.5rem;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Inconsolata", monospace;
}
.btn-edit-flight-btn {
  margin-right: 0.5rem;
  height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: "Inconsolata", monospace;
}

/*squadron */

.history-container {
  padding: 1rem 1rem;
  height: 200%;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: steelblue;
  font-family: "Tinos", serif;
}
.history-card {
  padding: 0.5rem 0.5rem;
  border: 3px solid white;
  border-radius: 5px;
  background-color: wheat;
}
.members {
  margin-top: 1rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid white;
  border-radius: 5px;
  background-color: wheat;
}
.history-title {
  margin-bottom: 1rem;
}
.history-subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(235, 0, 35);
  height: 10vh;
  align-items: center;
  padding-left: 1rem;
  font-family: "Anton", sans-serif;
}

.flight-log-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Anton", sans-serif;
  color: white;
  padding-left: 1rem;
}

.flight-form-header {
  font-family: "Anton", sans-serif;
  color: white;
  padding-left: 1rem;
}
